<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Details for ' + station.station_Name}">Details!</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
</head>
<body>
    <table border="1">
        <tr>
            <td>Station Name</td>
            <td th:text="${station.station_Name}">Name</td>
        </tr>
        <tr>
            <td>Province</td>
            <td th:text="${station.province}">Province</td>
        </tr>
        <tr>
            <td>Date</td>
            <td th:text="${station.station_Date}">Date</td>
        </tr>
        <tr>
            <td>Mean Temperature</td>
            <td th:text="${station.mean_Temp}">Mean Temperature</td>
        </tr>
        <tr>
            <td>Highest Monthly Maximum Temperature</td>
            <td th:text="${station.highest_Monthly_Maxi_Temp}">Highest Monthly Maximum Temperature</td>
        </tr>
        <tr>
            <td>Lowes Monthly Minimum Temperature</td>
            <td th:text="${station.lowest_Monthly_Min_Temp}">Lowest Monthly Minimum Temperature</td>
        </tr>
    </table>