<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Weather Stations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css" rel="stylesheet">

    <style type="text/css">
        .divTable
        {
            display:  table;
            width:auto;
        }
    
        .divRow
        {
           display:table-row;
           width:auto;
        }
    
        .divCellFirst
        {
            float:left;/*fix for  buggy browsers*/
            display:table-column;
            width: 100px;           
        }
        .divCell
        {
            float:left;/*fix for  buggy browsers*/
            display:table-column;
        }
    </style>

</head>
<body>
    <div class="divTable">
        <div class="divRow">
            <div class="divCellFirst">Start Date</div><div class=divCell><input name="startDate" id="datepickerStart" type="text" onchange="changedStartDate()"/></div>
            <div class="divCell"><button type="button" id="filterButton" onclick="filter()" disabled=true>Filter</button>
                <button type="button" id="clearFilterButton" onclick="clearFilter()">Clear Filter</button></div>
        </div>
        <div class="divRow">
            <div class="divCellFirst">End Date</div><div class="divCell"><input name="endDate" id="datepickerEnd" type="text" onchange="changedEndDate()" disabled=true/></div>
            <div class="divCell" id="filterErrorText" style="color:red" colspan="2"></div>
        </div>
    </div>
    <p></p>
    <table th:replace="~{stationTable :: stationTable}" id="stationTable">&nbsp;</table>
    <script th:inline="javascript">

    var frm = $('#contactForm1');

    var dateFormatString = "yy-mm-dd";

    $("#datepickerStart").datepicker({changeYear: true, dateFormat: dateFormatString});
    $("#datepickerEnd").datepicker({changeYear: true, dateFormat: dateFormatString});

    var tableRowCells = "<td th:text = \"${station.station_Name}\">Name</td> <td th:text = \"${station.station_Date}\">Date</td><td><a th:href = \"@{/details?name={stationName}(stationName=${station.station_Name})}\" th:text = \"${station.mean_Temp}\">Mean Temp</a></td>";
    var allRows = "<tr th:each=\"station : ${stationList}\">";
    var filteredRows = "<tr th:each=\"station : ${stationList}\" th:if=\"${station.dateObject.after(#datepickerStart.val)}\">"
    var endTableRow = "</tr>"

    function clearFilter(){
       $("#datepickerStart").val("");
       $("#datepickerEnd").val("");
       changedStartDate();
       changedEndDate();
       $("#filterErrorText").empty();
       $.ajax({
            url : "filteredStations",
            data : {
                startDate : "",
                endDate : "" 
            },
            success : function(fragment) {
               $("#stationTable").replaceWith(fragment);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("Error in AJAX filter call"); 
                console.log(textStatus);
            }
        });
    }

    function changedStartDate(){
        if ($("#datepickerStart").val().length != 0 )
        {            var startDate = $("#datepickerStart").val();
            $("#clearFilterButton").prop("disabled",false);
            $("#datepickerEnd").datepicker("setDate", startDate);
            $("#datepickerEnd").prop("disabled",false);
            $("#filterButton").prop("disabled",false);
        }
        else if ($("#datepickerStart").val().length == 0 )
        {
            $("#datepickerEnd").prop("disabled",true);
            $("#filterButton").prop("disabled",true);
            $("#datePickerEnd").empty();
            $("#filterErrorText").empty();
        }
    }

    function changedEndDate(){
        if ($("#datepickerEnd").val().length != 0)
        {
            var startDate = $("#datepickerStart").datepicker("getDate");
            var endDate = $("#datepickerEnd").datepicker("getDate");
            if (endDate >= startDate)
            {
                $("#filterButton").prop("disabled",false); 
                $("#filterErrorText").empty();            
            }
            else
            {
                $("#filterButton").prop("disabled",true);               
                $("#filterErrorText").text("End Date must be the same or after start date");
                $("#filterErrorText").attr("style", "color:red");
            }
        }
        else
        {
            $("#filterButton").prop("disabled",true);               
            $("#filterErrorText").text("End Date must be the same or after start date");
            $("#filterErrorText").attr("style", "color:red");
        }
    }

    function filter () {
        $.ajax({
            url : "filteredStations",
            data : {
                "startDate" : $("#datepickerStart").val(),
                "endDate"   : $("#datepickerEnd").val()
            },
            success : function(fragment) {
               $("#stationTable").replaceWith(fragment);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("Error in AJAX filter call"); 
                console.log(textStatus);
            }
        });
        $("#filterErrorText").text("Filtered");
        $("#filterErrorText").attr("style", "color:green");
    }
</script>
</body>
</html>